[data-lexical-editor="true"] {
  --prose-strong-color: var(--color-gray-950);
  --prose-heading-color: var(--color-gray-950);
  --prose-marker-color: color-mix(in oklab, var(--color-gray-700) 25%, transparent);
  --prose-blockquote-border-color: var(--color-gray-300);

  font-size: var(--text-lg);

  h2 {
    margin-bottom: calc(var(--spacing) * 2);
    color: var(--prose-heading-color);
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-semibold);
    line-height: calc(var(--spacing) * 8);
    letter-spacing: -0.025em;
  }

  h3 {
    margin-bottom: var(--spacing);
    color: var(--prose-heading-color);
    font-size: var(--text-xl);
    font-weight: var(--font-weight-semibold);
    line-height: calc(var(--spacing) * 6);
  }

  h4 {
    margin-bottom: calc(var(--spacing) * 0.5);
    color: var(--prose-heading-color);
    font-weight: var(--font-weight-semibold);
    line-height: calc(var(--spacing) * 6);
  }

  span {
    &[data-lexical-italic] {
      font-style: italic;
    }

    &[data-lexical-bold] {
      font-weight: var(--font-weight-semibold);
    }

    &[data-lexical-strikethrough] {
      text-decoration-line: line-through;
    }

    &[data-lexical-highlight] {
      background-color: var(--color-amber-200);
      color: var(--color-amber-900);
    }
  }

  ol,
  ul {
    padding-left: calc(var(--spacing) * 4);

    li {
      padding-left: calc(var(--spacing) * 1.5);

      &::marker {
        font-weight: var(--font-weight-semibold);
      }
    }
  }

  ol {
    list-style-type: decimal;

    li::marker {
      color: var(--prose-strong-color);
    }
  }

  ul {
    list-style-type: disc;

    li::marker {
      color: var(--prose-marker-color);
    }
  }

  blockquote {
    position: relative;
    font-style: italic;
    padding-inline-start: calc(var(--spacing) * 4);

    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      background: var(--prose-blockquote-border-color);
      top: calc(var(--spacing) * 0.5);
      bottom: calc(var(--spacing) * 0.5);
      left: 0;
      width: var(--spacing);
    }

    & p:first-of-type span:first-of-type:before {
      content: open-quote;
    }

    & p:last-of-type span:last-of-type::after {
      content: close-quote;
    }
  }
}

.lexical-block,
.lexical-image-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    pointer-events: none;
    background: var(--color-blue-200);
    opacity: 0;
  }

  &[data-drag-edge="top"]::before {
    opacity: 1;
    top: calc(var(--spacing) * -1);
    left: 0;
    right: 0;
    height: var(--spacing);
  }

  &[data-drag-edge="bottom"]::before {
    opacity: 1;
    bottom: calc(var(--spacing) * -1);
    left: 0;
    right: 0;
    height: var(--spacing);
  }

  &[data-drag-edge="left"]::before {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: calc(var(--spacing) * -1.5);
    width: var(--spacing);
  }

  &[data-drag-edge="right"]::before {
    opacity: 1;
    top: 0;
    bottom: 0;
    right: calc(var(--spacing) * -1.5);
    width: var(--spacing);
  }
}

.lexical-block {
  &[data-text-color="zinc"] {
    color: var(--color-zinc-900);
  }
  &[data-text-color="orange"] {
    color: var(--color-orange-900);
  }
  &[data-text-color="yellow"] {
    color: var(--color-yellow-900);
  }
  &[data-text-color="green"] {
    color: var(--color-green-900);
  }
  &[data-text-color="emerald"] {
    color: var(--color-emerald-900);
  }
  &[data-text-color="cyan"] {
    color: var(--color-cyan-900);
  }
  &[data-text-color="blue"] {
    color: var(--color-blue-900);
  }
  &[data-text-color="violet"] {
    color: var(--color-violet-900);
  }
  &[data-text-color="purple"] {
    color: var(--color-purple-900);
  }
  &[data-text-color="fuchsia"] {
    color: var(--color-fuchsia-900);
  }
  &[data-text-color="rose"] {
    color: var(--color-rose-900);
  }
  &[data-text-color="red"] {
    color: var(--color-red-900);
  }
}

.lexical-image-wrapper {
  display: flex;
  justify-content: center;

  img {
    border-radius: var(--radius-xl);
  }

  * + & {
    margin-top: calc(var(--spacing) * 4);
  }

  &:has(+ *) {
    margin-bottom: calc(var(--spacing) * 4);
  }
}
